<div class="container">
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <span class="col-2">Card Type</span>
            <span class="col-5">Card Alias</span>
            <span class="col-3">Last Digits</span>
            <span class="col-2"></span>
          </div>
        </li>
        <app-card-item *ngFor="let card of cardList" [card]="card"></app-card-item>
      </ul>
    </div>
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a class="btn btn-primary"  routerLink="add" role="button">Add New Card</a>
    </div>
  </div>
</div>
